bash/.bash_history
helix/runtime
**/*.lock
uv/
**/*.pyc
astro/
nextjs-nodejs/
dconf/
gtk-3.0/
evolution/
ibus/
org.gnome.Ptyxis/
pulse/
yelp/
.gsd-keyboard.settings-ported
dosbox
micro/buffers/history
micro/bindings.json
nautilus
qalculate
rclone
toolbox
arkrc
gnome-initial-setup-done
kdeglobals
knfsshare
menus/applications-merged
libreoffice/4
