nushell/history.*
bash/.bash_history
helix/runtime
**/*.lock
uv/
**/*.pyc
astro/
nextjs-nodejs/
dconf/
gtk-3.0/
evolution/
ibus/
org.gnome.Ptyxis/
pulse/
yelp/
mimeapps.list
.gsd-keyboard.settings-ported
